@font-face {
  font-family: 'FjallaOne';
  src: url('fonts/FjallaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayPenSans';
  src: url('fonts/PlaypenSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font: 400 15px/1.8 FjallaOne, sans-serif;
  color: #ddd; 
  background-color: #222; 
}

h3, h4 {
  margin: 10px 0 30px 0;
  letter-spacing: 10px;
  font-size: 20px;
  color: #000;
}

.container {
  padding: 80px 120px;
}

.carousel-inner .item img {
  width: 100%; 
  height: auto;
  object-fit: cover;
}

/* Media query for screens wider than they are tall (landscape orientation) */
@media screen and (min-aspect-ratio: 1/1) {
  .carousel-inner .item img {
      height: 100vh;
  }
}

.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;
  opacity: 0.7;
}

.person:hover {
  border-color: #00b876;
}

.carousel-inner img {
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
  width: 100%;
  margin: auto;
}

.carousel-caption h3 {
  color: #fff !important;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
  .wide-in-small-screens {
    padding: 10% !important;
  }
}

.bg-1 {
  background: #147AB2;
  background-image: url(/docs/assets/background.webp);
  background-size: cover;
  background-position: center;
  color: #000;
}

.bg-1 h3 {
  color: #000;
}

.bg-1 p {
  font-style: italic;
}

.dropdown-menu {
  background-color: #333; 
  border: 1px solid #555; 
}

.dropdown-menu li a {
  color: #ddd !important;
}

.dropdown-menu li a:hover {
  background-color: #555 !important; 
  color: #fff !important; 
}


.list-group-item:first-child {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.list-group-item:last-child {
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 15px;
  background-color: #333;
  color: #ddd;
}


.thumbnail p {
  margin-top: 15px;
  color: #ddd;
}

.thumbnail img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.thumbnail.grayed {
  filter: grayscale(100%);
  opacity: 0.7;
}


.btn {
  padding: 10px 20px;
  background-color: #f4ee55;
  color: #fff;
  border-radius: 0;
  transition: .2s;
}

.btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}

.modal-header,
h4,
.close {
  background-color: #333;
  color: #fff !important;
  text-align: center;
  font-size: 30px;
}

.modal-header,
.modal-body {
  padding: 40px 50px;
}

.nav-tabs li a {
  color: #ddd; 
}

.navbar {
  font-family: PlayPenSans, cursive;
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}

.navbar li a,
.navbar .navbar-brand {
  color: #d5d5d5 !important;
}

.navbar-nav li a:hover {
  color: #fff !important;
}

.navbar-nav li.active a {
  color: #fff !important;
  background-color: #29292c !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.open .dropdown-toggle {
  color: #fff;
  background-color: #555 !important;
}

.dropdown-menu li a {
  color: #ddd !important;
}

.dropdown-menu li a:hover {
  background-color: red !important;
}

footer {
  background-image: url(/docs/assets/supergraphic.png);
  color: #2d2d30;
  padding: 32px;
}

footer p span {
  background-color: #00b876;
  line-height: 2;
  box-shadow: 10px 0 0px 0px #00b876, -10px 0 0px 0px #00b876;
}

footer a {
  color: #f4ee55;
}

footer .up-arrow {
  color: #00b876;
}

footer .up-arrow:hover {
  color: #777;
  text-decoration: none;
}

.form-control {
  border-radius: 0;
}

textarea {
  resize: none;
}

/* Rotating, overlayed logo */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(22deg);
  }
}


.logo-overlay {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 100;
}

.logo-overlay img {
  width: 200px;
  height: auto;
  animation: rotate 5s linear infinite alternate;
} 

@media (max-width: 1024px) {
  .logo-overlay {
    bottom: 30px;
    right: 30px;
  }

  .logo-overlay img {
    width: 120px;
  }
}


@media (max-width: 768px) {
  .logo-overlay {
    bottom: 20px;
    right: 20px;
  }

  .logo-overlay img {
    width: 50px;
  }
}


